body {
  margin: 0;
  font-size: 1em;
  color: black;
}

#hotest-img {
  width: 1300px;
  height: 800px;
  margin: auto;
  margin-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

div#hotest-img img {
  position: absolute;
  width: 1300px;
  height: 800px;
  margin: auto;
  left: 0;
  right: 0;
  display: none;
  z-index: -1;
}

div#hotest-img img:first-of-type {
  display: inline-block;
}

#hotest-img div.arrow {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 800px;
  transition-duration: 0.5s;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#hotest-img div.arrow:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

#hotest-img #left-arrow {
  left: 0;
  background-image: url("../img/箭头(左).png");
}

#hotest-img #right-arrow {
  right: 0;
  background-image: url("../img/箭头(右).png");
}

#hotest-img ul {
  position: absolute;
  margin: auto;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 25px;
  width: 300px;
  text-align: center;
  list-style: none;
}

#hotest-img li {
  display: inline-block;
  margin: 10px;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(150, 150, 150, 0.5);
  transition-duration: 0.5s;
}

#hotest-img li.selected{
  background-color: rgba(255, 255, 255, 1);
}

#hotest-img li:hover {
  background-color: rgba(255, 255, 255, 1);
}

.title {
  margin: 3%;
  vertical-align: text-top;
  font-size: 3.5em;
  color: black;
}

.title a:not(#more) {
  color: black;
  text-decoration: none;
  font-size: 0.5em;
  padding: 10px 20px;
  margin-left: 20px;
  text-align: center;
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  background-color: rgba(128, 128, 128, 0.7);
  border-radius: 40px;
}

#more {
  float: right;
  color: black;
  text-decoration: none;
  font-size: 0.5em;
}

#more:hover {
  text-decoration: underline;
}

#hot-img {
  text-align: center;
}

#hot-img li{
  display: inline-block;
  min-width: 150px;
  width: 15%;
  margin:0 5% 5% 0;

}

#hot-img li div{
  display: inline-block;
  padding: 10px;
  background-color:#b2ebf2;
  border-radius: 10px;
}

#hot-img div a{
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: black;
  background-color: #eee;
}

#new-photo{

}

#new-photo li{
  display: inline-block;
  margin: 0.5%; 
}
