nav ul, nav li {
  display: inline;
}

nav {
  z-index: 10;
  top: 0;
  position: fixed;
  background-color: rgba(70, 70, 70, 0.7);
  height: 65px;
  width: 100%;
  overflow: hidden;
}

nav a, #account {
  display: block;
  height: 65px;
  line-height: 65px;
  padding: 0 1%;
  float: left;
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
  font-family: "微软雅黑", serif;
  transition-duration: 0.5s;
}

nav img {
  float: left;
  height: 150%;
}

#account {
  float: right;
  margin-right: 25px;
}

#my-account {
  position: fixed;
  text-align: center;
  display: none;
  top: 65px;
  right: 40px;
  width: 120px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(65, 65, 65, 0.5);
}

#my-account a {
  float: none;
  text-align: center;
  font-size: 20px;
  border-radius: 10px 10px;
}

nav li :hover, #account :hover {
  background-color: rgba(65, 65, 65, 0.5);
}

#cur {
  background-color: rgba(65, 65, 65, 0.5);
}
